@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: black;
    color: white; 
    padding: 15px;
}

.navbar span {
    margin-left: 30px;
}



img {
    height: 48px;
    width: 48px;
    margin-left: 505px;
    margin-top: 80px;
}
.date {
    margin-top: 20px;
    margin-left: 500px;
}
p {
    margin-left: 500px;
}
p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.stop {
    font-size: 14px;
    margin-left: 1200px;
    margin-top: -25px;
    color: green;
}

.stop:hover {
    text-decoration: underline;
    cursor: pointer;
}

.target {
    margin-left: 150px;
    margin-top: -80px;
}
.over {
    margin-left: 375px;
    margin-top: 25.9px;
}
.target:hover {
    text-decoration: none;
}

.number {
    margin-left: 290px;
    margin-top: -80.15px;
}
.flag  {
    height: 48px;
    width: 48px;
    margin-left: 505px;
    margin-top: -150px;
}


.target2 {
    margin-left: 400px;
    margin-top: 55px;
}
.over2 {
    margin-left: 400px;
    margin-top: 2.5px;
}
.team {
    margin-left: 500px;
    margin-top: 30.90px;
}

.Win {
    margin-right: 100px;
    margin-top: 100px;
    vertical-align: inherit;
}
.Win2 {
    margin-left: 600px;
    margin-top: -60px;
}
.Live {
    margin-left: 250px;
    margin-top: 305px;
}
.draw {
    margin-left: 300px;
    margin-top: -40px;
}
.number2 {
    margin-left: 285px;
    margin-top: -2.90px;
}

.flag img {
   margin-top: 105.15px;
}
.target3 {
    margin-left: 150px;
    margin-top: -530px;
}

.lead {
    margin-left: 750px;
    margin-top: 100px;
}
.day {
    margin-left: 690px;
}

.batting {
    margin-left: 500px;
    margin-top: 50px;
}
.bowling {
    margin-left: 1100px;
    margin-top: -25px;
}
.player {
    margin-left: 500px;
}
.player2 {
    margin-left: 500px;
}

.bowl {
    margin-left: 1080px;
    margin-top: -50px;
}
.bowl2 {
    margin-left: 1080px;
}

.score {
    margin-top: 320px;
    margin-left: 500px;
    cursor: pointer;
}

.score2 {
    margin-top: -25px;
    margin-left: 800px;
    cursor: pointer;
}

.score3 {
    margin-top: -30px;
    margin-left: 1100px;
    overflow: scroll;
    cursor: pointer;
}

.innings {
    margin-left: 500px;
    margin-top: 20px;
    cursor: pointer;
}

.innings2 {
    margin-left: 810px;
    margin-top: -50px;
    cursor: pointer;
}

.innings3 {
    margin-left: 1100px;
    margin-top: -55px;
    cursor: pointer;
}

.bat {
    margin-top: 60px;
    margin-left: 500px;
} 

.runs {
    margin-left: 1010px;
    margin-top: -30px;
}
.ball {
    margin-left: 1050px;
    margin-top: -25px;
}

.four {
    margin-left: 1090px;
    margin-top: -25px;
}


.six {
    margin-left: 1135px;
    margin-top: -25px;
}

.rate {
    margin-left: 1175px;
    margin-top: -25px;
}

.player3 {
    margin-top: 30px;
    margin-left: 500px;
}

.runs2 {
    margin-left: 1010px;
    margin-top: -30px;
}

.ball2 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four2 {
    margin-left: 1097px;
    margin-top: -25px;
}

.six2 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate2 {
    margin-left: 1173px;
    margin-top: -25px;
}

.player3 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player3:hover {
    text-decoration: underline;
}

.runs3 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball3 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four3 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six3 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate3 {
    margin-left: 1173px;
    margin-top: -25px;
}

hr {
    margin-left: 450px;
}



.player4 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player4:hover {
    text-decoration: underline;
}

.runs4 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball4 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four4 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six4 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate4 {
    margin-left: 1180px;
    margin-top: -25px;
}


.player5 {
    margin-top: 965px;
    margin-left: 500px;
    cursor: pointer;
}
.player5:hover {
    text-decoration: underline;
}

.runs5 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball5 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four5 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six5 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate5 {
    margin-left: 1180px;
    margin-top: -25px;
}

.player6 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player6:hover {
    text-decoration: underline;
}

.runs6 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball6 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four6 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six6 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate6 {
    margin-left: 1180px;
    margin-top: -25px;
}





.player7 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player7:hover {
    text-decoration: underline;
}

.runs7 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball7 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four7 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six7 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate7 {
    margin-left: 1180px;
    margin-top: -25px;
}



.player8 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player8:hover {
    text-decoration: underline;
}

.runs8 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball8 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four8 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six8 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate8 {
    margin-left: 1180px;
    margin-top: -25px;
}




.player9 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}

.player9:hover {
    text-decoration: underline;
}
.runs9 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball9 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four9 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six9 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate9 {
    margin-left: 1185px;
    margin-top: -25px;
}





.player10 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player10:hover {
    text-decoration: underline;
}

.runs10 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball10 {
    margin-left: 1052px;
    margin-top: -25px;
}

.four10 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six10 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate10{
    margin-left: 1185px;
    margin-top: -25px;
}




.player11 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player11:hover {
    text-decoration: underline;
}

.runs11 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball11 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four11 {
    margin-left: 1105px;
    margin-top: -25px;
}

.six11 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate11{
    margin-left: 1185px;
    margin-top: -25px;
}






.player12 {
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.player12:hover {
    text-decoration: underline;
}

.runs12 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball12 {
    margin-left: 1055px;
    margin-top: -25px;
}

.four12 {
    margin-left: 1105px;
    margin-top: -25px;
}

.six12 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate12{
    margin-left: 1185px;
    margin-top: -25px;
}
.engscore {
    margin-left: 900px;
    margin-top: -955.50px;
    cursor: pointer;
}
.engscore:hover {
    text-decoration: underline;
    cursor: pointer;
}


.extra {
    margin-left: 500px;
    margin-top: 35px;
    margin-bottom: 5px;
}

.num {
    margin-left: 1005px;
    margin-top: -38px;
}

.total {
    margin-left: 499px;
    margin-top: 45px;
}

.hun {
    margin-left: 1005px;
    margin-top: -35px;
}

.fall {
    margin-left: 500px;
    margin-top: 45px;
}


.wic {
    margin-left: 500px;
    margin-top: 15px;
}

.bow {
    margin-left: 500px;
    margin-top: 45px;
}


.over5 {
    margin-left: 1020px;
    margin-top: -20px;
}


.maiden {
    margin-left: 1070px;
    margin-top: -25px;
}

.run6 {
    margin-left: 1120px;
    margin-top: -25px;
}

.wickets2 {
    margin-left: 1163px;
    margin-top: -25px;
}


.eco {
    margin-left: 1210px;
    margin-top: -25px;
}


.mob {
   margin-left: 500px;
   margin-top: 10px;
   cursor: pointer;
}
.mob:hover {
    text-decoration: underline;
}
.over7 {
    margin-left: 1015px;
   margin-top: -30px;
}

.maiden7 {
    margin-left: 1073px;
    margin-top: -25px;
}

.run7 {
    margin-left: 1115px;
    margin-top: -25px;
}


.wickets7 {
    margin-left: 1166px;
    margin-top: -25px;
}


.eco7 {
    margin-left: 1212px;
    margin-top: -25px;
}


.mob2 {
    margin-left: 500px;
    margin-top: 10px;
    cursor: pointer;
 }
 .mob2:hover {
    text-decoration: underline;
 }
 .over8 {
     margin-left: 1015px;
    margin-top: -30px;
 }
 
 .maiden8 {
     margin-left: 1073px;
     margin-top: -25px;
 }
 
 .run8 {
     margin-left: 1115px;
     margin-top: -25px;
 }
 
 
 .wickets8 {
     margin-left: 1166px;
     margin-top: -25px;
 }
 
 
 .eco8 {
     margin-left: 1212px;
     margin-top: -25px;
 }



 .mob3 {
    margin-left: 500px;
    margin-top: 10px;
    cursor: pointer;
    
 }
 .mob3:hover {
    text-decoration: underline;
 }
 .over9 {
     margin-left: 1017px;
    margin-top: -30px;
 }
 
 .maiden9 {
     margin-left: 1073px;
     margin-top: -25px;
 }
 
 .run9 {
     margin-left: 1118px;
     margin-top: -25px;
 }
 
 
 .wickets9 {
     margin-left: 1167px;
     margin-top: -25px;
 }
 
 
 .eco9 {
     margin-left: 1212px;
     margin-top: -25px;
 }




 .mob4 {
    margin-left: 500px;
    margin-top: 10px;
    cursor: pointer;
    
 }
 .mob4:hover {
    text-decoration: underline;
 }
 .over10 {
     margin-left: 1017px;
    margin-top: -30px;
 }
 
 .maiden10 {
     margin-left: 1073px;
     margin-top: -25px;
 }
 
 .run10 {
     margin-left: 1118px;
     margin-top: -25px;
 }
 
 
 .wickets10 {
     margin-left: 1167px;
     margin-top: -25px;
 }
 
 
 .eco10 {
     margin-left: 1212px;
     margin-top: -25px;
 }