@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    height: 48px;
    width: 48px;
    margin-left: 505px;
    margin-top: 80px;
}
.date {
    margin-top: 20px;
    margin-left: 500px;
}
p {
    margin-left: 500px;
}
p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.stop {
    font-size: 14px;
    margin-left: 1200px;
    margin-top: -25px;
    color: green;
}

.stop:hover {
    text-decoration: underline;
    cursor: pointer;
}

.target {
    margin-left: 150px;
    margin-top: -80px;
}
.over {
    margin-left: 395px;
    margin-top: 25.9px;
}
.target:hover {
    text-decoration: none;
}

.number {
    margin-left: 290px;
    margin-top: -80.15px;
}
.flag  {
    height: 48px;
    width: 48px;
    margin-left: 505px;
    margin-top: -150px;
}


.target2 {
    margin-left: 400px;
    margin-top: 55px;
}
.over2 {
    margin-left: 400px;
    margin-top: 2.5px;
}
.team {
    margin-left: 500px;
    margin-top: 30.90px;
}

.Win {
    margin-right: 100px;
    margin-top: 100px;
    vertical-align: inherit;
}
.Win2 {
    margin-left: 600px;
    margin-top: -60px;
}
.Live {
    margin-left: 250px;
    margin-top: 305px;
}
.draw {
    margin-left: 300px;
    margin-top: -40px;
}
.number2 {
    margin-left: 285px;
    margin-top: -2.90px;
}

.flag img {
   margin-top: 105.15px;
}
.target3 {
    margin-left: 150px;
    margin-top: -530px;
}

.lead {
    margin-left: 750px;
    margin-top: 100px;
}
.day {
    margin-left: 650px;
}

.batting {
    margin-left: 500px;
    margin-top: 50px;
}
.bowling {
    margin-left: 1100px;
    margin-top: -25px;
}
.player {
    margin-left: 500px;
}
.player2 {
    margin-left: 500px;
}

.bowl {
    margin-left: 1080px;
    margin-top: -50px;
}
.bowl2 {
    margin-left: 1080px;
}

.score {
    margin-top: 320px;
    margin-left: 500px;
    cursor: pointer;
}

.score2 {
    margin-top: -25px;
    margin-left: 800px;
    cursor: pointer;
}

.score3 {
    margin-top: -30px;
    margin-left: 1100px;
    overflow: scroll;
    cursor: pointer;
}

.innings {
    margin-left: 500px;
    margin-top: 20px;
    cursor: pointer;
}

.innings2 {
    margin-left: 810px;
    margin-top: -50px;
    cursor: pointer;
}

.innings3 {
    margin-left: 1100px;
    margin-top: -55px;
    cursor: pointer;
}

.bat {
    margin-top: 60px;
    margin-left: 500px;
} 

.runs {
    margin-left: 1010px;
    margin-top: -30px;
}
.ball {
    margin-left: 1050px;
    margin-top: -25px;
}

.four {
    margin-left: 1090px;
    margin-top: -25px;
}


.six {
    margin-left: 1135px;
    margin-top: -25px;
}

.rate {
    margin-left: 1175px;
    margin-top: -25px;
}

.player3 {
    margin-top: 30px;
    margin-left: 500px;
}

.runs2 {
    margin-left: 1010px;
    margin-top: -30px;
}

.ball2 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four2 {
    margin-left: 1095px;
    margin-top: -25px;
}

.six2 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate2 {
    margin-left: 1173px;
    margin-top: -25px;
}

.player4 {
    margin-top: 30px;
    margin-left: 500px;
}


.runs3 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball3 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four3 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six3 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate3 {
    margin-left: 1173px;
    margin-top: -25px;
}

hr {
    margin-left: 450px;
}



.player5 {
    margin-top: 30px;
    margin-left: 500px;
}


.runs5 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball5 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four5 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six5 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate5 {
    margin-left: 1180px;
    margin-top: -25px;
}




.player6 {
    margin-top: 910px;
    margin-left: 500px;
}


.runs6 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball6 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four6 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six6 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate6 {
    margin-left: 1173px;
    margin-top: -25px;
    overflow: scroll;
}



.player7 {
    margin-top: 10.50px;
    margin-left: 500px;
}


.runs7 {
    margin-left: 1007px;
    margin-top: -30px;
}

.ball7 {
    margin-left: 1050px;
    margin-top: -25px;
}

.four7 {
    margin-left: 1100px;
    margin-top: -25px;
}

.six7 {
    margin-left: 1140px;
    margin-top: -25px;
}

.rate7 {
    margin-left: 1173px;
    margin-top: -25px;
}

.engscore {
    margin-left: 895px;
    margin-top: -955.50px;
    cursor: pointer;
}

.engscore:hover {
    text-decoration: underline;
    cursor: pointer;
}